# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
dist/
*.egg-info/

# Virtual Environment
venv/
ENV/

# IDE & System
.idea/
.vscode/
*.swp
.DS_Store

# GraphRAG & RAG Cache / Data
.env
cache/
logs/
output/
*.parquet
*.faiss
*.pkl
index_faiss/
index*/
csv_output/
